# The name of the workflow.
name: Sign Artifact

# Trigger this workflow on a push
on: push

# Create an environment variable
env:
  MASTER_KEY: master.key
  SIGNABLE_APP_FILE_PATH: OSPSuite-Full.12.1.136.exe
  INSTALL_DIR: C:\Users\runneradmin\eSignerCKA
  MASTER_KEY_FILE: C:\Users\runneradmin\eSignerCKA\master.key

jobs:
  sign-app-file:
    # Run job on Windows Runner
    runs-on: windows-latest
    # When the workflow runs, this is the name that is logged
    name: Sign APP File with eSignerCKA
    steps:
      # 1) Check out the source code so that the workflow can access it.
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: download setup
        run: |
          Invoke-WebRequest -OutFile OSPSuite-Full.12.1.136.exe "https://github.com/Open-Systems-Pharmacology/Suite/releases/download/v12.1/OSPSuite-Full.12.1.136.exe"

      # 2) Download and Unzip eSignerCKA Setup
      - name: Download and Unzip eSignerCKA Setup
        run: |
          Invoke-WebRequest -OutFile eSigner_CKA_Setup.zip "https://github.com/SSLcom/eSignerCKA/releases/download/v1.0.7/SSL.COM-eSigner-CKA_1.0.7.zip"
          Expand-Archive -Force eSigner_CKA_Setup.zip
          Remove-Item eSigner_CKA_Setup.zip
          Move-Item -Destination "eSigner_CKA_Installer.exe" -Path "eSigner_CKA_*\*.exe"

#      # 3) Download and Unzip Dynamics 365 Setup
#      - name: Download and Unzip Dynamics 365 Setup
#        run: |
#          Invoke-WebRequest -OutFile Dynamics.365.BC.12841.US.DVD.zip "https://download.microsoft.com/download/3/e/7/3e71083e-6cd6-4598-a6bb-5c602b74aec3/Release/Dynamics.365.BC.12841.US.DVD.zip"
#          Expand-Archive -Force Dynamics.365.BC.12841.US.DVD.zip

#      # 4) Install Dynamics 365
#      - name: Install Dynamics 365
#        run: |
#          Start-Process ".\Dynamics.365.BC.12841.US.DVD\setup.exe" -argumentlist "/config .\Dynamics.365.BC.12841.US.DVD\Install-NavComponentConfig.xml /quiet" -wait

      # 5) Install eSignerCKA
      - name: Setup eSignerCKA in Silent Mode
        run: |
          New-Item -ItemType Directory -Force -Path ${{ env.INSTALL_DIR }}
          Start-Process ".\eSigner_CKA_Installer.exe" -argumentlist '/CURRENTUSER /VERYSILENT /SUPPRESSMSGBOXES /DIR="${{ env.INSTALL_DIR }}"' -wait
          # Start-Process ".\setup\vc_redist.x86.exe" -argumentlist "/install /q" -wait
          # Start-Process ".\setup\vc_redist.x64.exe" -argumentlist "/install /q" -wait
          ${{ env.INSTALL_DIR }}/RegisterKSP.exe | Out-Null
          ${{ env.INSTALL_DIR }}/eSignerCSP.Config.exe | Out-Null

      # 6) Set SSLcom account information
      - name: Config Account Information on eSignerCKA
        run: |
          ${{ env.INSTALL_DIR }}/eSignerCKATool.exe config -mode "product" -user "${{ secrets.ES_USERNAME }}" -pass "${{ secrets.ES_PASSWORD }}" -totp "${{ secrets.ES_TOTP_SECRET }}" -key "${{ env.MASTER_KEY_FILE }}" -r

      # 7) Unload and Load certificate to windows certificate store
      - name: Load Certificate into Windows Store
        run: |
          ${{ env.INSTALL_DIR }}/eSignerCKATool.exe unload
          ${{ env.INSTALL_DIR }}/eSignerCKATool.exe load

      # 8) Select code signing certificate and get thumprint for signing
      - name: Select Certificate From Windows Store
        run: |
          $CodeSigningCert = Get-ChildItem Cert:\CurrentUser\My -CodeSigningCert | WHERE { $_.subject -Match "Esigner" }
          echo "THUMBPRINT=$($CodeSigningCert.Thumbprint)" >> $env:GITHUB_ENV

#      - name: Find signtool.exe
#        id: find-signtool
#        shell: pwsh
#        run: |
#          $path = Get-ChildItem -Path 'C:\Program Files (x86)\Windows Kits\10\bin\' -Recurse -Filter signtool.exe | Select-Object -First 1 -ExpandProperty FullName
#          echo "SIGNSDK=$path" >> $env:GITHUB_ENV

#      - name: Sign Sample File with SignTool
#        run: |
#          & "${{ env.SIGNSDK }}" sign /debug /fd sha256 /tr http://ts.ssl.com /td sha256 /sha1 ${{ env.THUMBPRINT }} ${{ env.SIGNABLE_APP_FILE_PATH }}
    
      # 9) Sign artifact with signtool
      - name: Sign Sample File with SignTool
        run: |
          & 'C:/Program Files (x86)/Windows Kits/10/bin/10.0.26100.0/x64/signtool.exe' sign /debug /fd sha256 /tr http://ts.ssl.com /td sha256 /sha1 ${{ env.THUMBPRINT }} ${{ env.SIGNABLE_APP_FILE_PATH }}

      - name: Upload eSignerCKA Logs
        uses: actions/upload-artifact@v5
        with:
          name: OSPSuite-Full.12.1.136
          path: OSPSuite-Full.12.1.136.exe
        
      # 10) Upload eSignerCKA Logs
      - name: Upload eSignerCKA Logs
        uses: actions/upload-artifact@v5
        if: ${{ always() }}
        with:
          name: eSignerCKA-Logs-APP
          path: C:\Users\runneradmin\AppData\Roaming\eSignerCKA\KSP
